<div>
    <div class="row">
        <div class="mt-2em">
            <div class="shooting-challenge card shadow-sm p-4 my-5">
              <div class="d-flex align-items-center mb-3">
                <h4 class="mb-0 themed-text">📷 Your customised shooting challenge</h4>
              </div>
              <hr>
                <p>
                    {{ lesson_p1 }}
                </p>

              <p>
                  <strong>Here's a challenge:</strong> {{ lesson_p2 }}
              </p>

              <p class="mt-4 text-muted small">
                If you'd like to share the results of your challenge, tag us on social media
                <a href="https://instagram.com/mpb" target="_blank">@mpb</a> with the hashtag
                <a href="https://www.instagram.com/explore/tags/mpb-challenge/" target="_blank">#MPB-Challenge</a>
              </p>
            </div>

        </div>
    </div>
</div>