<div class="fixed-overlay">
    <div id="header-banner" class="header-banner" style="background-color: {{ colour }};">
        <div class="row">
            <div id="mpb-logo-header-container" class="col-md-2 col-3">
                {% include 'fragments/mpb-logo.html' %}
            </div>
            <div class="col-md-8 col-6">
                <h1 id="results-title">{{ page_title }}</h1>
            </div>
            {% if show_sidebar %}
                <div class="col-md-1 col-12">
                    <button id="share-classification-button" class="btn btn-light">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                             focusable="false"
                             aria-hidden="true" class="icon-svg">
                            <path d="M15 5.63 20.66 12 15 18.37V14h-1c-3.96 0-7.14 1-9.75 3.09 1.84-4.07 5.11-6.4 9.89-7.1l.86-.13V5.63M14 3v6C6.22 10.13 3.11 15.33 2 21c2.78-3.97 6.44-6 12-6v6l8-9-8-9z"></path>
                        </svg>
                        Share
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="header-divider"></div>

    {% if show_sidebar %}
        {% include 'fragments/sidebar.html' %}
    {% endif %}
</div>

{% include 'fragments/modal.html' %}