{% if rows %}
<table class="table table-hover">
    <thead class="table-head">
        <tr>
            {% for header in rows[0].keys() %}
                {% if header != "product_link" %}
                    <th>{{ header }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row['Budget'] }}</td>
                {% for header in display_headers[1:] %}
                    {% if header in ['Lens','Camera'] %}
                        <td>
                            <a href="{{ row['product_link'] }}" class="link-block">{{ row[header] }}</a>
                        </td>
                    {% else %}
                        <td>{{ row[header] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No data available to display.</p>
{% endif %}