<div class="sidebar d-flex flex-column flex-shrink-0 p-3" id="mobile-sidebar">
  <button class="btn d-md-none mb-3" id="toggle-sidebar">Menu</button>
  <div id="sidebar-content" class="d-none d-md-block">
    <span class="fs-4">Jump to</span>
    <hr>
    <ul>
      <li><a class="nav-link themed-text" href="#your-classification-anchor">Your classification</a></li>
      <li><a class="nav-link themed-text" href="#your-current-gear-anchor">Your current gear</a></li>
      <li><a class="nav-link themed-text" href="#how-you-shoot-anchor">How you shoot</a></li>
      <li><a class="nav-link themed-text" href="#what-could-make-your-kit-better-anchor">What could make your kit better</a></li>
      <li><a class="nav-link themed-text" href="#how-you-can-improve-anchor">How you can improve</a></li>
      <li><a class="nav-link themed-text" href="#thank-you-anchor">Thank you</a></li>
    </ul>
    <hr>
  </div>
</div>