<div>

    <div class="pt-100">
        <div class="row">
            <h3 id="thank-you-anchor">Thank you!</h3>
            <hr>
            <br>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/albatross.webp') }}" alt="Friendly Albatross" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>
                    <strong>Thank you for using Albatross!</strong>
                </p>
                <p>
                    Not the results you expected? Did something break? Or do you have a suggestion for improvement?
                </p>
                <p>
                    If you have any feedback, please reach out to <a href="https://mpb.slack.com/team/U02FWJ2EYHH" target="_blank">my developer on slack</a>
                </p>
                <p>
                    Or, if you have time, <a href="https://forms.gle/cogBrvSWVDeEhz5C6" target="_blank">please fill in this survey</a> for a chance to win £0 in amazon vouchers!
                </p>
            </div>
        </div>
    </div>
</div>