
<h3 id="what-could-make-your-kit-better-anchor">What Could Make Your Kit Even Better?</h3>
<hr>
<div class="text-align-center">
    <br>
    <div class="text-align-center">
    <div class="pb-30">
        <br>
        <h5>I used the following information to build your recommendations.</h5>
        <br>
        <div class="row">
            {{ recommendations_input | safe }}
        </div>
    </div>
    {% if recommendations_lens_recommendation  %}
        <div>
            <h5>Recommended Lens Upgrades</h5>
            <br>
            <div>
                {{ recommendations_lens_recommendation | safe }}
            </div>
            <br>
        </div>
    {% endif %}
    {% if recommendations_camera_recommendation  %}
        <br>
        <div>
            <h5>Recommended Camera Upgrades</h5>
            <br>

            <div>
                {{ recommendations_camera_recommendation | safe }}
            </div>

            <br>
        </div>
    {% endif %}

    </div>
</div>