{% macro render_gear_item(item, frequency, category) %}
<div class="col-md-10 {% if frequency < (5 if category == 'camera' else 2) %} overkill {% endif %}">
    <p class="lead mb-4">
        <div class="progress-bar-container"
             id="container{{ item.model_url_encoded }}"
             data-percentage="{{ frequency }}">
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <b>
                {% if category == 'camera' and item.mpb_model %}
                    {{ item.mpb_model }}
                {% else %}
                    {{ item.model.upper() if category == 'camera' else item.model }}
                {% endif %}
            </b> {{ frequency }}%
            <button class="btn btn-sm btn-outline-secondary toggle-btn" type="button" data-target="#details-{{ item.model_url_encoded }}">Specs</button>
        </div>
        {% if item.image_link %}
            <img src="https://www.mpb.com/media-service-img-cdn/width=90,quality=90,format=jpeg{{item.image_link}}" alt="{{item.model_name}}">
        {% endif %}

        <ul id="details-{{ item.model_url_encoded }}" class="camera-details collapse">
            {% if category == 'camera' %}
                {% if item.brand %}<li>Brand: {{ item.brand.title() }}</li>{% endif %}
                {% if item.sensor_size %}<li>Sensor Type: {{ item.sensor_size.name.title() }}</li>{% endif %}
                {% if item.type %}<li>Type: {{ item.type.name.title() }}</li>{% endif %}
                {% if item.mount %}<li>Mount: {{ item.mount.name }}</li>{% endif %}
            {% else %}
                {% if item.focal_length_min and item.focal_length_max and item.largest_aperture_at_minimum_focal_length and item.largest_aperture_at_maximum_focal_length %}
                    <p>({{ item.focal_length_min }}-{{ item.focal_length_max }}mm F{{ item.largest_aperture_at_minimum_focal_length }}-{{ item.largest_aperture_at_maximum_focal_length }})</p>
                {% endif %}
            {% endif %}
        </ul>

        {% if item.formatted_price and item.model_url_segment %}
            <a href="https://www.mpb.com/product/{{ item.model_url_segment }}">Sell for around £{{ item.formatted_price }} at MPB</a>
            <i class="bi bi-question-circle-fill tooltip-icon" data-bs-toggle="tooltip" title="Prices may change depending on condition"></i>
        {% endif %}

        {% if item.formatted_price and frequency < (5 if category == 'camera' else 2) %}
            <div class="alert alert-custom mt-2">
                Used in only {{ frequency }}% of your shots. This could be one to sell
            </div>
        {% endif %}
    </p>
</div>
{% endmacro %}