openapi: 3.0.0
info:
  title: Albatross API
  version: 1.0.0
  description: API contract for the Albatross service
servers:
  - url: https://albatross.internal-services.mpb.com
paths:
  /healthz:
    get:
      summary: Health check
      responses:
        '200':
          description: Service is healthy
  /exif-whitelist:
    get:
      summary: Retrieve allowed EXIF fields
      responses:
        '200':
          description: List of EXIF fields
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /clear-lm-cache:
    delete:
      summary: Clear the LLM cache file
      responses:
        '200':
          description: Cache cleared
  /:
    get:
      summary: Render landing page
      responses:
        '200':
          description: HTML landing page
          content:
            text/html:
              schema:
                type: string
  /{recommendations_id}:
    get:
      summary: Render landing page with recommendations ID
      parameters:
        - in: path
          name: recommendations_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: HTML landing page
          content:
            text/html:
              schema:
                type: string
  /process-exif:
    post:
      summary: Process uploaded EXIF metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                exifData:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Processed recommendations
          content:
            application/json:
              schema:
                type: object
                properties:
                  template:
                    type: string
                  additional_data:
                    type: object
  /recall/{recommendations_id}:
    get:
      summary: Recall persisted recommendation analysis
      parameters:
        - in: path
          name: recommendations_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: HTML analysis snippet
          content:
            text/html:
              schema:
                type: string
  /llm-recommendations/{recommendations_id}:
    get:
      summary: Fetch LLM generated recommendations
      parameters:
        - in: path
          name: recommendations_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: HTML recommendations snippet
          content:
            text/html:
              schema:
                type: string
  /test-badges:
    get:
      summary: Render sample classification badges
      responses:
        '200':
          description: HTML page with badges
          content:
            text/html:
              schema:
                type: string
